.btn {
  display: inline-block;
  border: none;
  background: none repeat scroll 0 0 transparent;
  border-spacing: 0;
  text-decoration: none;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &.btn-menu {
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    padding: 20px;
    margin: 5px;
    border-radius: 50%;
  }

  &.btn-search {
    padding: 0;

    span {
      padding: 0 20px;
      border-left: 1px solid $noir-2;
      border-right: 1px solid $noir-2;
    }
  }

  &.btn-round {
    padding: 0;
    line-height: 0;
    text-align: center;
    color: $blanc-1;
    background-color: $noir;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }

  &.btn-standard {
    position: relative;
    border-radius: 2rem;
    line-height: 3.7rem;
    text-transform: uppercase;
    padding: 0 4rem 0 2.5rem;
    border: 1px solid $noir;
    color: $noir;
    margin-bottom: 1rem;

    .icon {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 1rem;
      transform: rotate(-90deg);
      line-height: 3.7rem;
    }

    &.little {
      line-height: 3rem;
      font-size: 1.2rem;
      .icon {
        line-height: 3rem;
      }
    }

    &.extra-little {
      padding: 0 2.5rem 0 1rem;
      line-height: 2.5rem;
      font-size: 1rem;
      .icon {
        font-size: 0.8rem !important;
        line-height: 2.5rem;
      }
    }

    &.btn-rose {
      border-color: $rose-1;

      &:hover {
        border-color: $rose-c;
        color: $rose-c;
      }

      &.btn-negatif {
        background-color: $rose-1;
        color: $blanc-1;

        &:hover {
          background-color: $rose-c;
        }

        .icon {
          color: $blanc-1;
        }
      }
    }

    &.btn-bleu {
      border-color: $bleu-1;

      &:hover {
        border-color: $bleu-c;
        color: $bleu-c;
      }

      &.btn-negatif {
        background-color: $bleu-1;
        color: $blanc-1;

        &:hover {
          background-color: $bleu-c;
        }

        .icon {
          color: $blanc-1;
        }
      }
    }

    &.btn-blanc {
      border-color: $blanc-1;
      color: $blanc-1;

      &.negatif {
        background-color: $blanc-1;
        color: $noir;
      }
    }

    &.btn-marron {
      border-color: $marron-1;

      &:hover {
        border-color: $marron-c;
        color: $marron-c;
      }

      &.btn-negatif {
        background-color: $marron-1;
        color: $blanc-1;

        &:hover {
          background-color: $marron-c;
        }

        .icon {
          color: $blanc-1;
        }
      }
    }
  }
}
