html {
  overflow-x: hidden;
}

body {
  @include breakpoint(desktop) {
    font-size: 1.6rem;
  }
}

.center {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x-center {
  margin-left: auto;
  margin-right: auto;
}

.txt-center {
  text-align: center;
}

.block-test {
  background: red;
  display: block;
  height: 400px;
  width: 25%;
}

.section-title {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 3rem;
  background: $blanc-1;
  text-align: center;

  span {
    display: inline-block;
    width: 100%;
  }

  .title {
    text-transform: uppercase;
  }
  .icon-title {
    font-size: 3rem;
  }

  &.bleu {
    .icon-title {
      color: $bleu-1
    }
  }

  &.rose {
    .icon-title {
      color: $rose-1
    }
  }

  &.marron {
    .icon-title {
      color: $marron-1
    }

    &.negatif {
      background: $marron-1;

      .icon-title {
        color: $blanc-1;
      }
    }
  }
}

.bg-marron {
  background-color: $marron-1;
}

.slogan {
  position: relative;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2rem;
  color: $blanc-1;
  margin-bottom: 2rem;
  letter-spacing: 0.3em;
}

