#mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background: white;
  transition: left 0.3s ease-in, opacity 0.2s ease-in;
  z-index: 1000;
  max-height: 100vh;
  overflow: auto;

  #close-menu {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.is-open {
    left: 0;
    opacity: 1;

    #close-menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }

    #nav-mobile-menu {
      #logo-mobile {
        transition-delay: 0.2s;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  #nav-mobile-menu {
    width: 800px;
    max-width: 100%;
    padding-top: 8rem;

    #logo-mobile {
      position: absolute;
      width: 100%;
      top: 0.5rem;
      left: 0;
      text-align: center;
      font-size: 4.5em;
      line-height: 8rem;
      transform: translateX(-200px);
      opacity: 0;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .nav-element {
      display: block;
      font-weight: 700;
      text-align: center;
      border-top: 1px solid $noir-2;

      a,
      &.search-nav li {
        line-height: 5em;
        display: inline-block;

        &:hover,
        &:focus {
          background-color: $gris-1;
        }
      }

      &.principal-nav {
        text-transform: uppercase;

        a {
          width: 100%;
          color: $noir-1;
          cursor: pointer;
          letter-spacing: 0.15em;
        }
      }

      &.second-nav {
        li {
          display: inline-block;
        }

        a {
          font-size: 1.6em;
          padding: 0 0.5em;

          &.icon-nav-1 {
            color: $rose-1;
          }

          &.icon-nav-2 {
            color: $bleu-1;
          }

          &.icon-nav-3 {
            color: $noir-1;
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  @include breakpoint(medium) {
    display: none;
  }
}

#header-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.8rem;
  z-index: 999;

  #logo,
  #nav-large-menu {
    display: none;
  }

  #open-menu {
    background: rgba(255, 255, 255, 0.9);
  }

  @include breakpoint(medium) {
    background-color: $color-bg-menu-large;

    #open-menu {
      display: none;
    }

    #logo {
      display: inline-block;
      position: absolute;
      margin-top: 0.3em;
      left: 10%;

      span {
        font-size: 3.5em;
      }
    }

    #nav-large-menu {
      display: block;
      padding-left: 25%;
      text-align: right;

      .nav-element {
        display: inline-block;
        margin-right: 3em;
        font-weight: 700;
        vertical-align: bottom;

        a,
        &.search-nav li{
          display: inline-block;
          line-height: 5em;
          font-size: 0.6em;
          padding: 0 1em;
        }

        &.principal-nav {
          text-transform: uppercase;

          a {
            color: $noir-1;
            letter-spacing: 0.15em;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &.second-nav a {

          span {
            font-size: 1.6em;
          }

          &.icon-nav-1 {
            color: $rose-1;
          }

          &.icon-nav-2 {
            color: $bleu-1;
          }

          &.icon-nav-3 {
            color: $noir-1;
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
        }
      }
    }
  }

  @include breakpoint(big-desktop) {
    font-size: 2.5rem;
  }
}
