$color-font-base: black;
$color-bg-base: white;
$color-bg-1: blue;
$color-bg-menu-large: white;
$link-color: green;
$link-decoration: green;
$link-hover-color: grey;
$link-hover-decoration: grey;

$rose-1: #ca2676;
$bleu-1: #1dbbae;
$bleu-2: #21ada4;
$noir: #2c2c2c;
$noir-1: #505050;
$noir-2: #959595;
$marron-1: #d4925b;
$gris-1: #f5f5f5;
$blanc-1: #fff;
$blanc-2: #fcfcfc;

$font-family-base: Rubik, Sans-Serif;
$font-size-base: 62.5%;
$font-size-body-base: 1.4rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$dt-font-weight: bold;

$headings-margin-bottom: 5rem;
$paragraph-margin-bottom: 2rem;
