$color-font-base: black;
$color-bg-base: white;
$color-bg-1: blue;
$link-color: green;
$link-decoration: green;
$link-hover-color: grey;
$link-hover-decoration: grey;

$font-family-base: Rubik, Sans-Serif;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.5;
$dt-font-weight: bold;

$headings-margin-bottom: 20px;
$paragraph-margin-bottom: 20px;
